/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Aa]ssets/[Aa]ssetStoreTools*

# Visual Studio / VS Code
.vs/
.vscode/
*.csproj
*.sln
*.user
*.suo
